/* admin */
.hd_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  overflow: hidden;
}
.hd_wrap button {
  font-family: inherit;
}
/* hd_aside */
.hd_aside {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	line-height: 1.5;
}
.hd_aside_v1 {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 186px;
  height: 100%;
	background-color: #313D4C;
	box-shadow: 0 18px 50px -10px rgba(0, 0, 0, 0.20);
}


/* 검색어 입력 영역 */
.hd_aside_v1_top {
	padding: 20px 12px 12px 12px;
	.hd_admin_title {
		display: flex;
		align-items: center;
		padding-left: 4px;
		font-weight: 700;
		font-size: 12px;
		color: #fff;
		img {
			width: 114px;
		}
	}
	.hd_admin_search {
		padding-top: 20px;

	}
}


.hd_utils .hd_utils_logo {
  display: block;
  font-size: 0;
}
.hd_utils .hd_utils_logo img {
  display: block;
}
/* 검색어 입력 영역 */

/* gnb */
.hd_menu_dept_lv1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  overflow: auto;
}
.hd_menu_dept_lv1 > li > .hd_menu_dept_lv1_btn {
	position: relative;
  display: block;
  width: 100%;
	padding: 0 12px;
  text-align: left;
  border: none;
	// border-top: 1px solid #58616A;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: right center;
	transition: background-color 0.3s;
	cursor: pointer;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border-top: 1px solid #58616A;
		pointer-events: none;
	}
	&.default_active {
		.text {
			color: #fff;
		}
	}
}
.hd_menu_dept_lv1 > li > .hd_menu_dept_lv1_btn > .text {
  display: block;
  padding: 16px;
	// padding: 9px 0 9px 26px;
	padding: 10px 0 9px 26px;
  font-size: 14px;
	color: #8A949E;
  line-height: 1.5;
	background-repeat: no-repeat;
	background-position: left center;
}
.hd_menu_dept_lv1 > li > .hd_menu_dept_lv1_btn.active,
.hd_menu_dept_lv1 > li > .hd_menu_dept_lv1_btn:hover {
  // border-top: 1px solid transparent;
	background-color: #FF7F32;
	background-image: url(../images/common/bg_hd_menu_dept_lv1_btn.png);
	&::before {
		border-top: 1px solid transparent;
	}
}
.hd_menu_dept_lv1 > li > .hd_menu_dept_lv1_btn.active > .text,
.hd_menu_dept_lv1 > li > .hd_menu_dept_lv1_btn:hover > .text {
  font-weight: 700;
  color: #fff;	
}
/* 아이콘 적용 */
.hd_menu_dept_lv1 {
	> li {
		[class*="hmd_lv1_ico_"] {
			// .text {
			// }
			// 반복문으로 ty1 ~ ty3 자동 생성
      @for $i from 1 through 14 {
        &.hmd_lv1_ico_ty#{$i} {
					.text {
						background-image: url("../images/common/hli_ty#{$i}.png");
					}
        }
      }
      @for $i from 2 through 14 {
        &.hmd_lv1_ico_ty#{$i} {
					&.active,
					&:hover {
						.text {
							background-image: url("../images/common/hli_ty#{$i}_on.png");
						}
					}
        }
      }

			


		}
	}	
}
/* 아이콘 적용 */
/* gnb */

/* 로그아웃 */
.hd_utils {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  padding: 16px 16px 28px 16px;
}
.hd_utils .hd_utils_user {
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
}
.hd_utils .hd_utils_logout {
	padding-top: 8px; 
  font-size: 0;
}
.hd_utils .hd_utils_logout .btn_logout {
  display: inline-block;
  border: none;
  background: transparent;
  cursor: pointer;
}
.hd_utils .hd_utils_logout .btn_logout > .text {
  display: block;
  padding: 2px 9px;
  font-weight: 400;
  font-size: 12px;
	color: #fff;
  line-height: 1.5;
  border-radius: 10px;
  border: 1px solid #b1b8be;
}
/* 로그아웃 */

.hd_aside_v2 {
  flex: none;
  display: flex;
  flex-direction: column;
  width: 190px;
  height: 100%;
  padding: 0 16px;
  overflow: auto;
  background-color: #f4f5f6;
}
.hd_menu_dept_lv2 > li {
  padding-bottom: 0;
  -webkit-transition: padding-bottom 0.3s;
  transition: padding-bottom 0.3s;
}
.hd_menu_dept_lv2 > li .hd_acd_btn {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  border-top: 1px solid #f4f5f6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.hd_menu_dept_lv2 > li .hd_acd_btn > .text {
  position: relative;
  display: block;
  padding: 12px 20px 12px 0;
  font-weight: 400;
  font-size: 14px;
  color: #1e2124;
  line-height: 1.5;
  text-align: left;
}
.hd_menu_dept_lv2 > li .hd_acd_btn > .text::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  width: 10px;
  border-bottom: 2px solid #464c53;
}
.hd_menu_dept_lv2 > li .hd_acd_btn > .text::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  width: 10px;
  border-bottom: 2px solid #464c53;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hd_menu_dept_lv2 > li .hd_acd_btn.active > .text {
  font-weight: 700;
}
.hd_menu_dept_lv2 > li .hd_acd_btn.active > .text::after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.hd_menu_dept_lv2 > li .hd_acd_btn.hd_acd_btn_open > .text {
  padding-right: 0;
}
.hd_menu_dept_lv2 > li .hd_acd_btn.hd_acd_btn_open > .text::before {
  content: none;
}
.hd_menu_dept_lv2 > li .hd_acd_btn.hd_acd_btn_open > .text::after {
  content: none;
}
.hd_menu_dept_lv2 > li + li .hd_acd_btn {
  border-top: 1px solid #cdd1d5;
}
.hd_menu_dept_lv2 > li.active {
  padding-bottom: 12px;
}
.hmd2_dept {
  display: none;
  padding: 0 8px;
}
.hmd2_dept > li {
  position: relative;
}
.hmd2_dept > li > a,
.hmd2_dept > li > button {
  position: relative;
  display: block;
  padding-left: 8px;
  font-size: 14px;
  line-height: 1.5;
  color: #1E2124;
  border: none;
  background-color: transparent;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}
.hmd2_dept > li > a::before,
.hmd2_dept > li > button::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  border-bottom: 1px solid #464C53;
  transition: border-bottom 0.3s;
}
.hmd2_dept > li > a:hover,
.hmd2_dept > li > a.active,
.hmd2_dept > li > button:hover,
.hmd2_dept > li > button.active {
  font-weight: 700;
  color: #E25A37;
}
.hmd2_dept > li > a:hover::before,
.hmd2_dept > li > a.active::before,
.hmd2_dept > li > button:hover::before,
.hmd2_dept > li > button.active::before {
  background-color: #f8633c;
}
.hmd2_dept > li + li {
  margin-top: 12px;
}
/* hd_aside */
/* hd_container */
.hd_container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 32px;
}
.hd_container .hd_container_tabarea {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  gap: 8px;
  padding: 16px 0;
}
.hd_container .hd_container_tabarea .hd_container_tabarea_item {
  position: relative;
}
.hd_container .hd_container_tabarea .hd_tab_btn {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  position: relative;
  display: block;
  padding: 9px 30px 9px 12px;
  border-radius: 50px;
  border: 1px solid #eef2f7;
  background-color: #eef2f7;
}
.hd_container .hd_container_tabarea .hd_tab_btn > .text {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  color: #6d7882;
  white-space: nowrap;
}
.hd_container .hd_container_tabarea .hd_tab_btn.active {
/*눈에 너무 안띄어서 주황색 테두리로 변경해봄. (3depth 메뉴 hover시 텍스트 주황색으로 바뀌는 색과 동일한 색임)*/
/*   border: 1px solid #cdd1d5; */
  border: 1px solid #f8633c;
  background-color: #fff;
}
.hd_container .hd_container_tabarea .hd_tab_btn.active > .text {
  color: #1e2124;
}
.hd_container .hd_container_tabarea .hd_tab_btn.active + .hd_tab_btn_del {
  background-image: url(/images/common/hd_bg_close.png);
}
.hd_container .hd_container_tabarea .hd_tab_btn_del {
  position: absolute;
  top: 50%;
  right: 12px;
  z-index: 1;
  width: 16px;
  height: 16px;
  font-size: 0;
  border: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(/images/common/hd_bg_close_off.png) no-repeat center center/16px auto;
  cursor: pointer;
}
.hd_container .hd_container_content {
  margin-bottom: 30px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
}
.hd_container .hd_container_content iframe {
  width: 100%;
  height: 100%;
  border: none;
}
/* hd_container */




// icon_search

/* input */
.hd_admin_input {
	position: relative;
	input {
		display: block;
		width: 100%;
		height: 40px;
		padding: 0 15px;
		font-size: 14px;
		color: #1E2124;
		border-radius: 12px;
		border: 1px solid #8A949E;
		background-color: #fff;
		box-sizing: border-box;
		&::placeholder {
			font-size: 14px;
			color: #8A949E;
		}
	}

	/* 검색 */
	&.hai_search {
		input {
			padding-right: 50px;
		}
		.hda_btn_search {
			position: absolute;
			top: 50%;
			right: 16px;
			transform: translateY(-50%);
		}

	}
	/* 검색 */
}
/* input */

/* button */
.hda_btn {
	display: inline-flex;
	outline: none;
	cursor: pointer;
	color: inherit;
	text-align: initial;
	border: none;
	background-color: transparent;
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	&.hda_btn_search {
		width: 20px;
		height: 20px;
		background: url(../images/common/icon_search.png) no-repeat center center;
		.text {
			line-height: normal;
			font-size: 0;
		}		
	}
}
/* button */